<html>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<body>


    <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1>Home</h1>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h1>Map</h1>
                <iframe src="https://www.google.com/search?q=no+asio+drivers+&sxsrf=AOaemvLnLqlbMRQdCYq8l87Xhe4R-_IOhw%3A1634067658922&source=hp&ei=yuRlYZ3xNbTC5OUPrI-CwAo&iflsig=ALs-wAMAAAAAYWXy2nMWHc-HtOcuV7hLYrA-PnXgfLLW&ved=0ahUKEwid_uKy0MXzAhU0IbkGHayHAKgQ4dUDCAo&uact=5&oq=no+asio+drivers+&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgUIABCABDIGCAAQFhAeOg0ILhDHARDRAxAnEJMCOgQIIxAnOgsIABCABBCxAxCDAToLCC4QgAQQxwEQowI6EQguEIAEELEDEIMBEMcBENEDOg4ILhCABBCxAxDHARCjAjoRCC4QgAQQsQMQxwEQowIQkwI6CAgAELEDEIMBOgsILhCABBCxAxCDAToOCC4QgAQQsQMQxwEQ0QM6CwguEIAEEMcBEK8BOggILhCABBCxAzoOCC4QgAQQxwEQrwEQkwI6BQguEIAEOgUIABCxAzoICAAQgAQQsQM6DQguELEDEMcBENEDEAo6BwgAEIAEEAo6CwguEIAEEMcBENEDOgcIIxDqAhAnOg4ILhCABBCxAxCDARCTAjoOCC4QgAQQxwEQowIQkwI6CwguELEDEMcBEKMCOggIABAWEAoQHlCTE1j2gwFgqocBaAdwAHgAgAGoAYgB7hSSAQQxOC45mAEAoAEBsAEK&sclient=gws-wiz" title="description"></iframe>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
          </div>
        </div>
      </div>


</body>

</html>

