<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      .card-body .col-sm{
        border: 1px solid cornflowerblue;
        padding: 10px;
      }
    </style>
  </head>


<div class="container">

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            #1: Sputnik V first produced in Latin America
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">

          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: Sputnik V (Verified)
              </div>
              <div class="col-sm">
                Date: 4/20/21
              </div>
              <div class="col-sm">
                Location: Moscow, Russia 
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: RDIF, Laboratorios Richmond launched production of #SputnikV in Argentina, the first country in Latin America to manufacture Sputnik V. Watch this exclusive video of the first vials of Sputnik V coming off the production line at 
  @richmond_lab facility. 
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #SputnikV
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 11288
              </div>
              <div class="col-sm">
                Number of likes: 25724
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            #2: Reason for the necessity of two doeses of vaccine
          </button>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: hotvickkrishna (Not Verified)
              </div>
              <div class="col-sm">
                Date: 4/1/2021
              </div>
              <div class="col-sm">
                Location: Manhattan, NY
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: Why we need Two Doses of mRNA Vaccine #vaccines #COVID19 #Pfizer #moderna #VaccinesSaveLives #vaccinated &#x270C; 
              </div>
            </div>


            <div class="row">
              <div class="col-sm">
                HashTags: #vaccines, #COVID19, #Pfizer, #moderna, #VaccinesSaveLives, #vaccinated
              </div>
            </div>


            <div class="row">
              <div class="col-sm">
                Number of retweets: 7695
              </div>
              <div class="col-sm">
                Number of likes: 19622
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            #3: India user got Covaxin
          </button>
        </h5>
      </div>

      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: Dr. S. Jaishankar (Verified)
              </div>
              <div class="col-sm">
                Date: 3/1/2021
              </div>
              <div class="col-sm">
                Location: New Delhi, India
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: Got my jab. For the curious, it was #Covaxin. Felt secure, will travel safely.
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #Covaxin
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 2360
              </div>
              <div class="col-sm">
                Number of likes: 22815
              </div>
              <div class="col-sm">
                Sentiment: Positive
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            #4: COVAXIN reported to be effective against 
          </button>
        </h5>
      </div>

      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: BharatBiotech (Verified)
              </div>
              <div class="col-sm">
                Date: 4/8/2021
              </div>
              <div class="col-sm">
                Location: Hyderabad, India
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: We completely reject the false and malicious reporting by @CNBCTV18News on COVAXIN® supplies to international markets. 

                We expect better ethics and journalistic standards from CNBC TV18.

                #BharatBiotech #COVAXIN
              </div>
            </div>


            <div class="row">
              <div class="col-sm">
                HashTags: #BharatBiotech, #COVAXIN
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 6018
              </div>
              <div class="col-sm">
                Number of likes: 15944
              </div>
              <div class="col-sm">
                Sentiment: Negative
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            #5: Argentine authoried to produce SputnikV
          </button>
        </h5>
      </div>

      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: Sputnik V (Verified)
              </div>
              <div class="col-sm">
                Date: 4/20/2021
              </div>
              <div class="col-sm">
                Location: Moscow, Russia 
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: Argentine Health Minister @carlavizzotti and Presidential Adviser @cecilianicolini celebrate the production of #SputnikV at @richmond_lab.
                Argentina was the first Latin American country to officially register #SputnikV and is now the first to manufacture it in the region.
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #SputnikV
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 4105
              </div>
              <div class="col-sm">
                Number of likes: 15148
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            #6: Argentina actor show SputnikV certificate on live TV
          </button>
        </h5>
      </div>

      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: Sputnik V (Verified)
              </div>
              <div class="col-sm">
                Date: 5/19/2021
              </div>
              <div class="col-sm">
                Location: Moscow, Russia 
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: #Argentina's actor breaks into a live TV to show his #SputnikV vaccination certificate & express his gratitude. 
                This sweet interruption made us smile Smiling face with open mouth &#128515;
                We wish a very good health to @garzongustavo and to all Argentinians Victory hand &#9996;
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #Argentina, #SputnikV
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 2550
              </div>
              <div class="col-sm">
                Number of likes: 14412
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            #7: COVID variants
          </button>
        </h5>
      </div>

      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: ICMR (Verified)
              </div>
              <div class="col-sm">
                Date: 4/21/2021
              </div>
              <div class="col-sm">
                Location: New Delhi
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: ICMR study shows #COVAXIN neutralises against multiple variants of SARS-CoV-2 and effectively neutralises the double mutant strain as well. @MoHFW_INDIA @DeptHealthRes #IndiaFightsCOVID19 #LargestVaccineDrive
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #COVAXIN, #IndiaFightsCOVID19, #LargestVaccineDrive
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 4851
              </div>
              <div class="col-sm">
                Number of likes: 11995
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>




     <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            #8: India registered SputnikV
          </button>
        </h5>
      </div>

      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: Sputnik V (Verified)
              </div>
              <div class="col-sm">
                Date: 4/12/2021
              </div>
              <div class="col-sm">
                Location: Moscow, Russia 
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: BREAKING: India, the world’s 2nd most populous nation, became the 60th country to register #SputnikV after positive results of local Phase 3 clinical study. Sputnik V is now authorized in 60 countries with population of over 3 bln people. 
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #SputnikV
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 1642
              </div>
              <div class="col-sm">
                Number of likes: 13570
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




     <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            #9: India approved SputnikV
          </button>
        </h5>
      </div>

      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: Sudhir Chaudhary (Verified)
              </div>
              <div class="col-sm">
                Date: 4/12/2021
              </div>
              <div class="col-sm">
                Location: Uttar Pradesh, India
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: BREAKING NEWS :  #SputnikV approved for emergency use in India.
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #SputnikV
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 1389
              </div>
              <div class="col-sm">
                Number of likes: 12386
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            #10: Popular cartoon about covid
          </button>
        </h5>
      </div>

      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                User name: dawnymock (Not Verified)
              </div>
              <div class="col-sm">
                Date: 4/12/2021
              </div>
              <div class="col-sm">
                Location: Fredericton, New Brunswick, CA
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Tweet: I see it’s going around with signature cropped....so here is the original:) #covid 19 #vaccine #pfizer #moderna #AstraZenica
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                HashTags: #covid, #vaccine, #pfizer, #moderna, #AstraZenica
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Number of retweets: 2299
              </div>
              <div class="col-sm">
                Number of likes: 10175
              </div>
              <div class="col-sm">
                Sentiment: Neutral
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>



  </div>
</div>



</html>